body {
    max-width: 70%; 
    margin: auto;
}

table#gameBoardTable {
    border-collapse: collapse;
}

td.cell {
    background-color: azure;
    width : 35px;
    height : 35px;
    text-align : center;
    border : 1px solid black;
}

td.flag {
    color : red;
}

td.mousedown {
    opacity : 0.5;
}

/* td.clicked_n start */
td.clicked_0 {
    background-color: gray;
    opacity: 0.1;
}

td.clicked_1 {
    color : blue;
}

td.clicked_2 {
    color : green
}

td.clicked_3 {
    color : red
}

td.clicked_4 {
    color : violet;
}

td.clicked_5 {
    color : brown;
}

td.clicked_6 {
    color : crimson;
}

td.clicked_7 {
    color : peru;
}

td.clicked_8 {
    color : maroon;
}
/* td.clicked_n end */