td.cell {
    background-color: azure;
    width : 40px;
    height : 40px;
    text-align : center;
}

td.flag {
    color : red;
}

/* td.clicked_n start */
td.clicked_0 {
    background-color: gray;
    opacity: 0.1;
}

td.clicked_1 {
    color : blue;
}

td.clicked_2 {
    color : green
}

td.clicked_3 {
    color : red
}

td.clicked_4 {
    color : violet;
}

td.clicked_5 {
    color : brown;
}

td.clicked_6 {
    color : crimson;
}

td.clicked_7 {
    color : peru;
}

td.clicked_8 {
    color : maroon;
}
/* td.clicked_n end */